form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

form input{
    margin-bottom: 5px;
}

#boton{
    margin-top: 10px;
    width: 25%;
    background-color: red;
    color: aliceblue;
    border-radius: 10%;
    border-color: red;
    margin-right: 4px;
}
#limpiarBtn{
    margin-top: 10px;
    width: 25%;
    background-color: aliceblue;
    color: black;
    border-radius: 10%;
    border-color: aliceblue;
}

.botones{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}
body{
    background-color: darkblue;
}

label{
    color: aliceblue;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:aliceblue;
}

#tasa_de_interes{
    width: 40px;
}

span{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

p{
    font-size: 10px;
    color: aliceblue;
}

.monto{
    display: flex;
    flex-direction: column;
}

table{
    border-collapse: collapse;
}

th{
    border: 5px solid white;
    padding: 8px;
    text-align: center;
    color: aliceblue;
}

td{ border: 5px solid white;
    padding: 8px;
    text-align: center;
    color: aliceblue;
    
}

#cuadroAmortizacion{
    margin-bottom: 10px;
}

#cuotaEncontrada{
    margin-top: 10px;
    margin-bottom: 10px;
}

.tablaDolar {
    flex: 1;
    padding: 20px;
    background-color: #f0f0f0;
    margin-left: 20px; 
}
#dolarTable {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;

  }

 .granContenedor{
    display: flex;
    flex-direction: row;
 } 
  
 section{
    width: 50%;
 }

 .buscadorCuota{
    margin-top: 10px;
 }

 